<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <%= f.error_messages :header_message => "The #{@group.class.name} couldn't be saved to the database because:" %>
    </div>
  <% end %>
  
  <fieldset id="account-form">
    <legend>
      <%= f.fields_for :account do |af| %>
        <%= af.hidden_field("_destroy", :value => false) %>
      <% end %>
      <%= check_box_tag("has_account", "1", @group.account && !@group.account.new_record?) %> 
      <%= label_tag("has_account", "Has Account") %>
    </legend>
    <div id="account">
      <%= render(:partial => 'accounts/form', :locals => {:f => f}) %>
    </div>
  </fieldset>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>	
	<div class="field">
	  <%= f.label :run_id %><br />
    <%= f.select :run_id, Run.all.collect{|run| [run.to_s, run.id]}  %>
	</div>
	
	<%= render(:partial => 'metadata/form', :locals => {:f => f})%>
	
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<%= javascript_tag %{
  $(document).ready(function() {
    $('#account').#{@group.account && !@group.account.new_record? ? 'show' : 'hide'}()
  })
  
  $('#has_account').click(function() {
    if ($(this).is(':checked')) {
      $('#account').show()
      $('#group_account_attributes__destroy').val(false)
    } else {
      $('#account').hide()
      $('#group_account_attributes__destroy').val(true)
    }
  })
} %>
