<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <%= f.error_messages :header_message => "The #{@group.class.name} couldn't be saved to the database because:" %>
    </div>
  <% end %>
  
  <%= render(:partial => 'accounts/form', :locals => {:f => f}) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>	
	<div class="field">
	  <%= f.label :run_id %><br />
    <%= f.select :run_id, Run.all.collect{|run| [run.to_s, run.id]}  %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
