<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <%= f.error_messages :header_message => "The #{@group.class.name} couldn't be saved to the database because:" %>
    </div>
  <% end %>
  
  <fieldset id="account-form">
    <legend>
      <%= f.fields_for :account do |af| %>
        <%= af.hidden_field("_destroy", :value => false) %>
      <% end %>
      <%= hidden_field_tag("has_account", "0", :id => 'hasnt_account') %> 
      <%= check_box_tag("has_account", "1", @group.account && !@group.account.new_record?) %> 
      <%= label_tag("has_account", "Has Account") %>
    </legend>
    <div id="account">
      <%= render(:partial => 'accounts/form', :locals => {:f => f}) %>
    </div>
  </fieldset>

  <div class="field">
    <%= f.label :name %><br />
  	<% if f.object.new_record? %>
  	  <%= f.text_field :name %><br />
	    (cannot be changed once created)
		<% else %>
			<div class="read-only"><%= f.object.name %></div>
			(cannot be changed once created)
		<% end %>
  </div>	
	<div class="field">
	  <%= f.label :run_id %><br />
    <%= f.select :run_id, Run.all.collect{|run| [run.to_s, run.id]}  %>
	</div>
	
	<fieldset>
    <legend>Members <span class="total">(<%= @group.memberships.count %> total)</span></legend>
    <ul class="groupables">
      <% @group.memberships.each do |membership| %>
        <li>
          <%= link_to "delete", 
            remove_member_group_path(@group, :member => {:id => membership.member.id, :type => membership.member.class}), 
            :method => :put, :remote => true, :class => 'delete ui-icon ui-icon-close', :style => 'float: right' %>
          <span class="class"><%= membership.member.class %></span> <%= membership.member.to_s %>
        </li>
      <% end %>
    </ul>
  </fieldset>
	
	<%= render(:partial => 'metadata/form', :locals => {:f => f})%>
	
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
