<li class="groupable <%= dom_id(groupable) %> <%= groupable.class %>" data-dom-class="<%= dom_id(groupable) %>" data-type="<%= groupable.class %>" data-id="<%= groupable.id %>">
	<span class="class"><%= groupable.class %></span> <%= groupable %>
</li>