<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
		<% if @user.new_record? %>
	    <%= f.text_field :username %>
		<% else %>
			<%= @user.username %>
		<% end %>
  </div>
	<div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
	<div class="field">
	  <b>Encrypted password:</b><br/>
	  <%= @user.encrypted_password %>
	</div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </div>
	<div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, User::KINDS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
