<%= show_flash %>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Display name:</b>
  <%= @user.display_name %>
</p>

<p>
  <b>Encrypted password:</b>
  <%= @user.encrypted_password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
