<%= form_for(@run) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
  	<% if f.object.new_record? %>
  	  <%= f.text_field :name %><br />
	    (cannot be changed once created)
		<% else %>
			<div class="read-only"><%= f.object.name %></div>
			(cannot be changed once created)
		<% end %>
  </div>
  <div class="field">
	  <%= f.label :curnit_id %><br />
    <%= f.select :curnit_id, Curnit.find(:all, :order => 'created_at DESC').collect{|curnit| [curnit.to_s, curnit.id]}  %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
