<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Listing runs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Curnit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @runs.each do |run| %>
  <tr>
    <td><%= run.name %></td>
    <td><%= run.curnit_id %></td>
    <td><%= link_to 'Show', run %></td>
    <td><%= link_to 'Edit', edit_run_path(run) %></td>
    <td><%= link_to 'Destroy', run, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Run', new_run_path %>
