<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @run.name %>
</p>

<p>
  <b>Curnit:</b>
  <%= @run.curnit_id %>
</p>


<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
