<!DOCTYPE html>
<html>
<head>
  <title>Rollcall</title>
  <%= stylesheet_link_tag :all, :recursive => true %>
  <%= javascript_include_tag 'jquery-1.6.4.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag params[:controller] if File.exists?(Rails.root.to_s + "/" + javascript_path(params[:controller]))  %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1 id="nameplate">Rollcall</h1>

<% if authenticated_as %>
    <div id="authenticated-as">
        <strong><%= authenticated_as.account.login %></strong> | 
            <%= link_to "Log out", url_for(:controller => 'sessions', :id => session.id, :method => :destroy, :path_only => true) %>
    </div>
<% end %>

<% @menu = ['users', 'groups', 'runs', 'curnits'] %>
<% if !(params[:controller] == 'sessions' && params[:action] == 'new') %>
    <ul id="menu">
        <%=raw(@menu.collect { |m| 
            content_tag("li", :class => params[:controller] == m ? "active" : "") {
                link_to(m.capitalize, url_for(:controller => m))
            } 
        }) %>
    </ul>
<% end %>

<%= yield %>

</body>
</html>
