<!DOCTYPE html>
<html>
<head>
  <title>Rollcall</title>
  <%= stylesheet_link_tag :all, :recursive => true %>
  <%= javascript_include_tag 'jquery-1.6.4.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag params[:controller] if File.exists?(Rails.root.to_s + "/" + javascript_path(params[:controller]))  %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1 id="nameplate">Rollcall</h1>

<%= yield %>

</body>
</html>
